<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <p><strong>Meta Data</strong></p>
        <ul>
          <li><a id="rss-subscribe" href="/feed.xml"><i class="fa fa-rss"></i> RSS</a></li>
          <li><a href="sitemap.xml"><i class="fa fa-sitemap"></i> Site Map</a></li>
          <li><a href="https://github.com/musophob/musophob.github.io"><i class="fa fa-code-fork"></i> View Source On GitHub</a></li>
        </ul>
        <p><strong>Other Data</strong></p>
        <ul>
          <li><a href="/assets/resume.pdf"><i class="fa fa-file-pdf-o"></i> Download My Resume</a></li>
          <li><a href=""><i class="fa"></i></a></li>
        </ul>
      </div>
      <div class="col l4 offset-l2 s12">
        <p><strong>Ping me</strong></p>
        <ul>
          <li>
          <a href="mailto:{{site.author.email}}"><i class="fa fa-envelope"></i> {{site.author.email}}</a>
        </li>
        <li>
          <a href="skype:sean.henderson7890?call"><i class="fa fa-skype"></i> seanhenderson7890</a>
        </li>
        <li>
          <a href="http://www.linkedin.com/in/seanmhenderson">
            <i class="fa fa-linkedin"></i>
            seanmhenderson
          </a>
        </li>
        <li>
          <a href="https://github.com/musophob">
            <i class="fa fa-github"></i>
            <span class="username">musophob</span>
          </a>
        </li>
        <li>
          <a href="http://facebook.com/seanmhenderson"><i class="fa fa-facebook-square"></i> seanmhenderson</a>
        </li>
        <li>
          <a href="https://twitter.com/musophob">
            <i class="fa fa-twitter"></i>
            <span class="username">musophob</span>
          </a>
        </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <p id="copyright" class="left"><a href="https://wiki.creativecommons.org/wiki/CC0" title="CC0 - Creative Commons">{% include cc0-icon.html %}</a> <span id="current-year">1990</span> Public Domain. Made with <i class="fa fa-apple"></i> in California.<br></p>

      </div>
    </div>
  </div>
</footer>