<header class="site-header">


    <nav>
    <div class="nav-wrapper container">
      <div class="nav-wrapper">
        <a href="{{ site.baseurl }}/" class="brand-logo">{{ site.title }}</a>
        <a href="#" data-activates="nav-mobile" class="button-collapse right"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          {% for my_page in site.pages %}
            {% if my_page.title != "404: Page not found" %}
            <li><a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
        <ul class="side-nav" id="nav-mobile">
          {% for my_page in site.pages %}
            {% if my_page.title != "404: Page not found" %}
            <li><a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
            {% endif %}
          {% endfor %}
      </ul>
      </div>
  </div>
    </nav>

</header>

