<header class="site-header">
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper container">

        <a href="#" data-activates="nav-mobile" class="button-collapse show-on-large"><img width="40" class="icon circle" src="https://s.gravatar.com/avatar/f58b8f87c3ab75eb35b6b20a584ece4c?s=80" alt="Photo of Sean Henderson"></a>
        <a href="{{ site.baseurl }}/" class="brand-logo">{{ site.title }}</a>


        <a href="#" data-activates="nav-mobile" class="button-collapse right"><i class="fa fa-bars"></i></a>
        <ul class="right hide-on-med-and-down">
          {% for node in site.pages %}
            {% if node.url != "/" and
              node.url != "/404.html" and
              node.url != "/feed.xml"
            %}
            <li><a class="{% if page.url == node.url %}active{% endif %}" href="{{ node.url | prepend: site.baseurl }}">{{ node.title }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
        <ul class="side-nav" id="nav-mobile">
          {% for node in site.pages %}
            {% if node.url != "/" and
              node.url != "/404.html" and
              node.url != "/feed.xml"
            %}
            <li><a class="{% if page.url == node.url %}active{% endif %}" href="{{ node.url | prepend: site.baseurl }}">{{ node.title }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </nav>
  </div>
</header>

