@charset "utf-8";

body {
  background-color: $primary-color-dark;
}

// override fonts
html {
  font-family: 'Source Sans Pro', sans-serif;
  // font-size: 100%;
}

em { font-style: italic; }
strong { font-weight: 600; }
small { font-size: 75%; }
.light { font-weight: 300; }
.thin { font-weight: 200; }


h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Code Pro', monospace;
}

// override text colors
nav, .page-footer, nav .brand-logo, nav ul a, nav a {
  color: lighten($secondary-color, 50%);
}

.page-footer strong {
  color: lighten($secondary-color, 10%);
}

// override negative margin on grid rows
.container .row {
  margin-left: auto;
  margin-right: auto;
}

.post-content, .post-header, .page-content, .home {
  @extend .flow-text; // make all main content into flow text
  a:visited {
    color: lighten($secondary-color, 50%); // grey out :vistited links
  }

}

// make nav links bold
nav ul li {
  font-weight: 600;
}

// layout

@media only screen and (min-width: 601px) {
  .container {
      width: 75%;
  }
}

@media only screen and (min-width: 993px) {
  .container {
      width: 55%;
  }
}

// fix li :hover bg position for nav elements
nav ul a {
  display: block;
}

.icon {
    margin-top: 13px;
    margin-right: 5px;
}

.brand-logo {
  left: 50px;
}

// make footer text smaller and heavy weight
.page-footer {
  font-size: 1rem;
  font-weight: 600;
}

// header/footer/sidenav separation
nav {
  box-shadow: none;
  border-bottom: 1px solid $layout-divider-color;
}
.page-footer {
  border-top: 1px solid $layout-divider-color;
}
.side-nav {
  box-shadow: none;
  border-right: 1px solid $layout-divider-color;
}

// post index

.post-list li {
  margin-bottom: 2rem;
}

.post-list {
  h2 {
    margin-top: 0;
  }
}

.post-meta {
  color: lighten($secondary-color, 50%);
  > span {
    margin-right: 1em;
  }
}

// works (portfolio) index

.works {
  .card {
    .card-title {
      font-size: inherit;
      line-height: inherit;
      h4 {
        margin-top: 0;
      }
    }
    .card-action + .card-reveal {
      padding-bottom: 8em;
    }
  }
}

// footer cc0 svg icon size
#cc0 {
  width: .8rem;
  height:.8rem;
  opacity: .5;
}

#copyright {
  font-weight: 300;
}