<footer class="page-footer">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        {% comment %} <h5 class="white-text">{{ site.title | escape }}</h5> {% endcomment %}
        <p>
          {%- if site.author -%}
          <h5 class="white-text">{{ site.author | escape }}</h5>
          {%- else -%}
            {{ site.title | escape }}
          {%- endif -%}
          {%- if site.email -%}
          <br>
          <a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a>
        </p>
        {%- endif -%}
        <p>{{- site.description | escape -}}</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5>Links</h5>
        {%- include social.html -%}
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <p class="left">&copy; <code>nil</code></p>
      <p class="right">Made In California with and <i class="fab fa-linux"><span class="sr-only">Linux</span></i> &amp; <i class="fas fa-beer"><span class="sr-only">beer</span></i></p>
    </div>
  </div>

</footer>
