<footer class="page-footer">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="container">
    <div class="row">
      <div class="col m6 s12">
        {% include avatar.html %}
      </div>
      <div class="col m5 offset-m1 s12">
        {%- include social.html -%}
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <p class="left">&copy; <code>nil</code></p>
      <p class="right">Made In California with <i class="fab fa-linux"><span class="sr-only">Linux</span></i> &amp; <i class="fas fa-beer"><span class="sr-only">beer</span></i></p>
    </div>
  </div>

</footer>
