<footer class="site-footer">

  <div class="wrap">

    <div class="footer-col-1 column">
      <ul>
        <li>
          <a href="mailto:{{ site.email }}"><i class="fa fa-envelope"></i> {{ site.email }}</a>
        </li>
        <li>
          <a href="http://facebook.com/seanmhenderson"><i class="fa fa-facebook-square"></i> seanmhenderson</a>
        </li>
        <li>
          <a href="callto://sean.henderson7890"><i class="fa fa-skype"></i> seanhenderson7890</a>
        </li>
      </ul>
    </div>

    <div class="footer-col-2 column">
      <ul>
        <li>
          <a href="https://github.com/{{ site.username }}">
            <i class="fa fa-github"></i>
            <span class="username">{{ site.username }}</span>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/{{ site.username }}">
            <i class="fa fa-twitter"></i>
            <span class="username">{{ site.username }}</span>
          </a>
        </li>
        <li>
          <a href="http://www.linkedin.com/in/seanmhenderson">
            <i class="fa fa-linkedin"></i>
            seanmhenderson
          </a>
        </li>
      </ul>
    </div>

    <div class="footer-col-3 column">
      <p class="text">&copy; {{ page.date | date: "%Y" }} Public Domain</p>
      <p class="text">Made with <i class="fa fa-apple"></i> in California</p>
      <p class="text"><a href="sitemap.xml"><i class="fa fa-sitemap"></i> Site Map</a></p>
    </div>

  </div>

</footer>
