<header class="page-header" role="banner">
  {%- assign default_paths = site.pages | map: "path" -%}
  {%- assign page_paths = site.header_pages | default: default_paths -%}

  {%- if page_paths -%}
  <!-- Dropdown Structure -->
  <ul id="dropdown-more" class="dropdown-content">
    <li><a class="theme-timed" href="#!"><i class="fas fa-moon"></i><span>Night</span> Mode</a></li>
    <li><a class="theme-auto" data-theme="auto" href="#!"><i class="fas fa-clock"></i>Automatic</a></li>
    <li><a class="theme-select" data-theme="high-contrast" href="#!"><i class="fas fa-adjust"></i>High Contast</a></li>
    <!--<li><a href="#!">three</a></li>-->
    <!--li class="divider" tabindex="-1"></li>-->
  </ul>
  <div class="navbar-fixed">
    <nav class="nav-main">
      <div class="nav-wrapper container">
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="fas fa-bars"><span class="sr-only">menu</span></i></a>
        <div class="brand-logo center">
          <a href="{{ "/" | relative_url }}">{{ './sean' | escape }}</a><span class="hide-on-small-only">{% if page.header_title %}/{{ page.header_title }}{% else  %}{% if page.layout == "log" or page.layout == "post" %}<a href="{{ "/log" | relative_url }}">/log</a>{% endif %}{% if page.layout == "post" %}<a href="{{ "#" }}">/post</a>{% endif %}{% endif %}</span>
        </div>
        <ul class="left hide-on-large-and-down" id="nav-large">
          {%- include nav-links.html -%}
        </ul>
        <ul class="right">
          <li>
            <a class="dropdown-trigger" href="#!" data-target="dropdown-more">
              <i class="fas fa-ellipsis-v right"><span class="sr-only">more</span></i>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <ul class="sidenav" id="nav-mobile">
    {%- include nav-links.html -%}
  </ul>
  {%- endif -%}
</header>
