<ul class="social-media-list">
  {%- if site.email -%}
    <li>
      <a href="mailto:{{ site.email }}">
        <i class="fas fa-envelope fa-fw"><span class="sr-only">GitHub</span></i>
        <span class="u-email">{{ site.email }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if site.github_username -%}
    <li>
      <a href="https://github.com/{{ site.github_username| cgi_escape | escape }}">
        <i class="fab fa-github fa-fw"><span class="sr-only">GitHub</span></i>
        <span class="username">{{ site.github_username| escape }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if site.twitter_username -%}
    <li>
      <a href="https://twitter.com/{{ site.twitter_username| cgi_escape | escape }}">
        <i class="fab fa-twitter fa-fw"><span class="sr-only">Twitter</span></i>
        <span class="username">{{ site.twitter_username| escape }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if site.linkedin_username -%}
    <li>
      <a href="https://www.linkedin.com/in/{{ site.linkedin_username| cgi_escape | escape }}">
        <i class="fab fa-linkedin fa-fw"><span class="sr-only">linkedin</span></i>
        <span class="username">{{ site.linkedin_username| escape }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if site.facebook_username -%}
    <li>
      <a href="https://www.facebook.com/{{ site.facebook_username| cgi_escape | escape }}">
        <i class="fab fa-facebook fa-fw"><span class="sr-only">facebook</span></i>
        <span class="username">{{ site.facebook_username| escape }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if site.flickr_username -%}
    <li>
      <i class="fab fa-flickr fa-fw"><span class="sr-only">flickr</span></i>
      <a href="https://www.flickr.com/photos/{{ site.flickr_username| cgi_escape | escape }}"><span class="username">{{ site.flickr_username| escape }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- for mst in site.mastodon -%}
    {%- if mst.username and mst.instance -%}
      <li>
        <a href="https://{{ mst.instance| cgi_escape | escape}}/@{{mst.username}}">
          <span class="username">{{ mst.username|escape }}</span>
        </a>
      </li>
    {%- endif -%}
  {%- endfor -%}
  {%- if site.youtube_username -%}
    <li>
      <a href="https://www.youtube.com/{{ site.youtube_username| cgi_escape | escape }}">
        <i class="fab fa-youtube fa-fw"><span class="sr-only">youtube</span></i>
        <span class="username">{{ site.youtube_username| escape }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if site.googleplus_username -%}
    <li>
      <a href="https://plus.google.com/{{ site.googleplus_username| escape }}">
        <i class="fab fa-google-plus fa-fw"><span class="sr-only">Google Plus</span></i>
        <span class="username">{{ site.googleplus_username| escape }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if site.rss -%}
    <li>
      <a href="{{ 'feed.xml' | relative_url }}">
        <i class="fas fa-rss fa-fw"><span class="sr-only">rss</span></i>
        <span>{{ site.rss | escape }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if site.instagram_username -%}
    <li>
      <a href="https://www.instagram.com/{{ site.instagram_username| cgi_escape | escape }}">
        <i class="fab fa-instagram fa-fw"><span class="sr-only">instagram</span></i>
        <span class="username">{{ site.instagram_username| escape }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if site.pinterest_username -%}
    <li>
      <a href="https://www.pinterest.com/{{ site.pinterest_username| cgi_escape | escape }}">
        <i class="fab fa-pinterest fa-fw"><span class="sr-only">pinterest</span></i>
        <span class="username">{{ site.pinterest_username| escape }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if site.dribbble_username -%}
    <li>
      <a href="https://dribbble.com/{{ site.dribbble_username| cgi_escape | escape }}">
        <i class="fab fa-dribbble fa-fw"><span class="sr-only">dribbble</span></i>
        <span class="username">{{ site.dribbble_username| escape }}</span>
      </a>
    </li>
  {%- endif -%}
</ul>
