body .gist {
  .blob-code-inner {
      // font-family: $pre-font;
      font-weight: 400;
      font-size: 1.4em;
      line-height: normal;
  }

  .gist-meta {
    display: none;
  }

  table.highlight > tbody > tr:hover {
    background-color: inherit;
  }

}
