body .gist {
  // resets
  .gist-file, .gist-data {
    border: 0;
    border-bottom: 0;
    background-color: transparent;
  }

  tr {
    border-bottom: 0;
  }

  .blob-num:hover {
    color: $text-color;
  }

  .blob-code-inner {
      font-family: $pre-font;
      font-weight: 400;
      font-size: 1.4em;
      line-height: normal;
  }

  .gist-meta {
    display: none;
  }

  table.highlight > tbody > tr:hover {
    background-color: inherit;
  }

}
