pre {
  overflow: scroll;
}

img {
	max-width: 100%;
}

// materialize main nav dropdown
.nav-main {
	#dropdown-more {
	position: relative;
	left: -1rem !important;
	top: 0.5rem !important;

		li {
			width: 250px;
			left: -14rem;
			top: 70px;
			height: auto;
		}
	}
}

// Touch up the main post listing layout
.post-listing {
  .row {
    margin-bottom: 0;
  }
  .col {
    margin-bottom: 20px;
    @media #{$medium-and-up} {
      margin-bottom: 35px;
    }
  }

  .card-title {
    margin-top: 0;
  }

  // align vertically
  .card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    .card--bottom {
      padding-bottom: .3em;
    }
  }
}
// 2-coloumn grid of cards that fill empty vertical space
@media #{$medium-and-up} {
  .fill-height {
    display: flex;
    margin-bottom: 35px;

    > .col {
      flex: 1 1 auto;

      .card {
        height: 100%;
      }
    }
  }
}

// fix awkward lack of padding at the bottom of a post/page
.post-content, .page-content {
  margin-bottom: 30px;
}

// pagination links
.pagination {
  text-align: center;
}

// scrollspying toc in single post view
.toc-container {
  display: none; // materialize's style only works on large screens
}

@media #{$large-and-up} {
  .post-content {
    display: flex;
    flex-direction: row;
  }
  .toc-container {
    display: block;
    order: 1;
    padding-left: 10%;

    .post-toc {
      width: 240px;
      position: sticky;
      top: 76px ; // magic: navbar height

      .post-toc-title {
        font-size: $h5-fontsize;
      }
    }
  }
  .post-content-inner {
    max-width: 75%;
  }
}

.social-media-list {
  a + a {
    margin-left: .5rem;
  }
}

.page-footer {
  position: relative;
}

.page-content {
  // fix internal link (AchorJS) positioning
  h1, h2, h3, h4, h5, p {
    padding-top: 70px; // magic: fixed navbar height + 6px
    margin-top: -70px; // magic: negative fixed navbar height +6px
  }
}
