pre {
  overflow: scroll;
}

img {
	max-width: 100%;
}

// Touch up the main post listing layout
.post-listing {
  .row {
    margin-bottom: 0;
  }
  .col {
    margin-bottom: 20px;
    @media #{$medium-and-up} {
      margin-bottom: 35px;
    }
  }

  .card-title {
    margin-top: 0;
  }

  // align vertically
  .card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    .card--bottom {
      padding-bottom: .3em;
    }
  }
}
// 2-coloumn grid of cards that fill empty vertical space
@media #{$medium-and-up} {
  .fill-height {
    display: flex;
    margin-bottom: 35px;

    > .col {
      flex: 1 1 auto;

      .card {
        height: 100%;
      }
    }
  }
}

// fix awkward lack of padding at the bottom of a post/page
.post-content, .page-content {
  margin-bottom: 30px;
}

.pagination {
  text-align: center;
}

