/* single post/page */
.post.h-entry {
  display: flex;
  flex-direction: column;
}
.page-content {
  // animate any element that was linked to
  *:target {
    animation: highlight 1s ease;
  }

  // animation for `:target` effect
  @keyframes highlight {
    from { background: $special-color; }
    to { background: transparent; }
  }
}

.cta-full-width {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  background: $supplement-color;
  position: relative;
  top: 30px;
  padding: 1rem 2em;
  font-family: $headline-font;

  a {
    display: flex;
    align-items: center;

    &:first-child {
      margin-bottom: 2em;
    }

    @media #{$medium-and-up} {
      width: 45%;

      &:first-child {
        margin-bottom: 0;
      }
    }

    &:hover {
      text-decoration: underline;
    }

    i {
      text-decoration: none;
    }
  }

  .prev {
    i {
      padding-right: 2rem;
    }
  }

  .next {
    text-align: end;
    i {
      padding-left: 2rem;
    }
  }

  i {
    font-size: 4rem;
  }
}
