body {
  font-family: $body-font;
  font-size: 1.3rem;
	background-color: $primary-color-light;
  color: lighten(color("solarized", "base1"), 10%);
}

h1, h2, h3, h4, h5 {
  font-family: $headline-font;
  font-weight: 700;
  color: color("grey", "lighten-3");
  word-spacing: -0.3em;
}

strong {
  font-weight: 700;
  color: color("shades", "white");
}

a {
  color: $link-color;

  &:hover {
    text-decoration: underline;
  }
}

pre {
  overflow: scroll;
}

code, kbd, samp {
  font-family: $pre-font;
  font-weight: 400;
}

