{{ define "main" }}
<div class="blog container">
  <div class="post-listing">
    <h2 class="post-list-heading">{{ .Title }}</h2>
    <div class="row fill-height">
      {{ $paginator := .Paginate (where .Site.Pages "Type" "log") }}
      {{ range $paginator.Pages }}
        {{ partial "post-card.html" . }}
          {{/* TODO: new row if even loop index
          {%- assign the_index_even = forloop.index | modulo: 2 -%}
          {%- if the_index_even == 0 -%}
        </div>
        <div class="row fill-height">
          {%- endif -%}
          */}}
      {{ end }}
    </div>
  </div>

  <div class="pagination">
    {{ partial "pagination.html" . }}
  </div>
</div>
{{ end }}
