{{ define "main" }}
<article class="post h-entry container anchorize" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="post-main">
    <header class="post-header">
      <h1 class="post-title p-name" itemprop="name headline">{{ .Title }}</h1>
      <p class="post-meta">
        {
        <br>
        <span class="indent">
          date: <time class="dt-published" datetime="{{ .Date }}" itemprop="datePublished">
            {{ .Date.Format "2012-02-12 15:04"}}</time>,

          <br>
          author: "<span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">Sean Henderson</span></span>",

          <br>
          <span class="tags">
            tags: [
            {{ range .Params.tags }}
              <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>,
            {{ end }}
            ]
          </span>
        </span>
        }
      </p>
    </header>

    <div class="post-content e-content" itemprop="articleBody">
      <div class="toc-container"></div>
      <div class="post-content-inner">
        {{ .Content }}
      </div>
    </div>

    <a class="u-url" href="{{ .Site.BaseURL }}" hidden></a>
  </div>
</article>
<!-- <aside class="comments"></aside> -->
{{ end }}
