body {
  background: color('shades', 'white') url('/assets/images/xp.jpg') no-repeat;
  background-attachment: fixed;
}

// main {
  // background: rgba(255, 255, 255, .2);
// }

h1,
h2,
h3,
h4,
h5 {
  color: $text-color;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.666);
}

body {
  position: relative;
}

.page-header {
  position: fixed;
  bottom: 0;
  z-index: 10;
}

.nav-main,
.nav-main ul,
.card, footer {
  a {
    color: color('xp', 'white');
  }
}

.post-meta {
  font-family: $pre-font;
  font-size: 1.7rem;
  font-style: italic;
  letter-spacing: .2rem;
}


code,
kbd,
samp {
  font-size: 1.3rem;
}

strong {
  color: $text-color;
}

a {
  font-family: $body-font;
  font-weight: bold;
}

main {

  p,
  blockquote,
  li {
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.666);

    a {
      text-shadow: none;
    }

    code {
      color: $text-color;
      font-size: 1.3rem;
    }
  }
}

.cta-full-width {
  a {
    border-bottom: 0;
  }
}

// reset materialize cards
.card {
  position: static;
  margin: 0 0 0 0;
  background-color: transparent;
  box-shadow: none;
  border-radius: 0;

  .card-title {
    font-size: $h3-fontsize;
    font-weight: bold;
  }

  .card-content {
    border: 2px solid $link-color;
    border-radius: 10px 10px 10px 10px;
    padding: 1rem;
    padding: 1rem;

    .btn-floating {
      display: none;
    }

    a {
      border-bottom: 2px solid $link-color;
    }
  }
}

.post-toc {
  a {
    color: $text-color;
    font-weight: normal;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.666);
  }
}

.typed-cursor {
  background: $background-color;
  font-weight: bold;
}

h1 {
  .typed-cursor {
    left: 0;
  }
}

.btn-large {
  background-color: transparent;
  border: 2px solid $text-color;
  border-radius: 10px;
  box-shadow: none;
  font-size: 2rem;

  &:hover {
    background-color: $text-color;
    color: $background-color;
    box-shadow: 0, 0, 0;
  }
}
