// 1. Colors
// ==========================================================================
// https://materializecss.com/color.html

$primary-color: color('xp', 'blue');
$primary-color-light: color('xp', 'blue-light');
$primary-color-dark: color('xp', 'blue-dark');
$secondary-color: color('xp', 'green');

$background-color: color('shades', 'white');
$text-color: color('xp', 'white');
$link-color: color('xp', 'blue-light');
$headline-color: $text-color;

$success-color: color('xp', 'green');
$error-color: color('xp', 'red');
$supplement-color: color('xp', 'beige');
$special-color: color('xp', 'yellow');


// 3. Buttons
// ==========================================================================

// Floating buttons
$button-floating-background: color('grey', 'darken-1');
$button-floating-background-hover: $button-floating-background;

// 4. Cards
// ==========================================================================

$card-padding: 24px;
$card-bg-color: $primary-color;
$card-link-color: $link-color;
$card-link-color-light: lighten($card-link-color, 20%);


// 20. Typography
// ==========================================================================

$body-font: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
$headline-font: 'Lucida Console', monaco, monospace;
$pre-font: $headline-font;

$font-size: 1.3rem;

$off-black: rgba(0, 0, 0, .87);


// 21. Footer
// ==========================================================================

$footer-font-color: lighten($secondary-color, 10%);
$footer-bg-color: $primary-color;
$footer-copyright-font-color: $footer-font-color;
$footer-copyright-bg-color: $primary-color;

