h1,
h2,
h3,
h4,
h5,
.btn,
.btn-large {
  color: $secondary-color;
  letter-spacing: .2rem;
  word-spacing: .2rem;
}

.nav-main,
.nav-main ul,
.card, footer {
  a {
    color: color('palm', 'black');
    border-bottom: 0;
  }
}

.post-meta {
  font-family: $pre-font;
  font-size: .7em;
  font-style: italic;
  letter-spacing: .2rem;
}


code,
kbd,
samp {
  font-size: .7em;
  letter-spacing: .2rem;
}

strong {
  color: $text-color;
}

a {
  border-bottom: 2px solid $link-color;
  font-family: $body-font;
  font-weight: bold;
}

main {
  line-height: 1;

  p,
  li {
    code {
      color: $text-color;
      font-size: 2rem;
    }
  }
}

.cta-full-width {
  a {
    border-bottom: 0;
  }
}

.card-content {
  // make the cards Palmy
  border: 2px solid $link-color;
  border-radius: 10px;
  padding: 1rem;

  .btn-floating {
    display: none;
  }

  a {
    border-bottom: 2px solid $link-color;
  }
}
