// 1. Colors
// ==========================================================================
// https://materializecss.com/color.html

$primary-color: color('palm', 'greenish-light');
$primary-color-light: lighten($primary-color, 15%);
$primary-color-dark: darken($primary-color, 15%);
$secondary-color: color('palm', 'black');

$background-color: color('palm', 'greenish-dark');
$text-color: $secondary-color;
$link-color: color('palm', 'black');
$headline-color: $primary-color;

$success-color: color('green', 'base');
$error-color: color('red', 'base');
$supplement-color: color('blue', 'base');
$special-color: color('pink', 'base');


// 3. Buttons
// ==========================================================================

// Floating buttons
$button-floating-background: $link-color;
$button-floating-background-hover: $button-floating-background;
$button-font-size: 1rem;
$button-large-font-size: 2.5rem;

// 4. Cards
// ==========================================================================

$card-padding: 24px;
$card-bg-color: $primary-color;
$card-link-color: $link-color;
$card-link-color-light: lighten($card-link-color, 20%);

// 9. Dropdown
// ==========================================================================

$dropdown-font-size: 2rem;
$dropdown-color: $link-color;

// 13. Navigation Bar
// ==========================================================================

$navbar-height: 64px;
$navbar-line-height: $navbar-height;
$navbar-height-mobile: 56px;
$navbar-line-height-mobile: $navbar-height-mobile;
$navbar-font-size: 2.5rem;
$navbar-font-color: $link-color;
$navbar-brand-font-size: 3rem;

// 14. Side Navigation
// ==========================================================================

$sidenav-font-size: 2.5rem;
$sidenav-font-color: $navbar-font-color;
$sidenav-bg-color: $primary-color-light;

// 20. Typography
// ==========================================================================

$body-font: 'Palm OS', sans-serif;
$headline-font: 'Palm OS Large', sans-serif;
$pre-font: $headline-font;
$font-size: 2.5rem;
$off-black: rgba(0, 0, 0, .87);


// 21. Footer
// ==========================================================================

$footer-font-color: lighten($secondary-color, 10%);
$footer-bg-color: $primary-color;
$footer-copyright-font-color: $footer-font-color;
$footer-copyright-bg-color: $primary-color;

