// 1. Colors
// ==========================================================================
// https://materializecss.com/color.html

$primary-color: color("shades", "black");
$primary-color-light: lighten($primary-color, 15%);
$primary-color-dark: darken($primary-color, 15%);
$secondary-color: color("grey", "lighten-1");

$background-color: color("shades", "white");
$text-color: $secondary-color;
$link-color: $primary-color;
$headline-color: $primary-color;

$success-color: color("green", "base");
$error-color: color("red", "red");
$supplement-color: color("blue", "base");
$special-color: color("pink", "base");


// 3. Buttons
// ==========================================================================

// Floating buttons
$button-floating-background: color("grey", "darken-1");
$button-floating-background-hover: $button-floating-background;

// 4. Cards
// ==========================================================================

$card-padding: 24px;
$card-bg-color: $primary-color;
$card-link-color: $link-color;
$card-link-color-light: lighten($card-link-color, 20%);


// 20. Typography
// ==========================================================================

$body-font: 'Work Sans', 'Segoe UI', Tahoma, sans-serif;
$headline-font: 'Space Mono', 'Fira Code', 'Source Code Pro', monospace;
$pre-font: $headline-font;

$font-size: 1.3rem;

$off-black: rgba(0, 0, 0, 0.87);
// Header Styles
$h1-fontsize: 3.56rem;
$h2-fontsize: 2.92rem;
$h3-fontsize: 2.28rem;
$h4-fontsize: 1.64rem;
$h5-fontsize: 1.15rem;
$h6-fontsize: 1rem;


// 21. Footer
// ==========================================================================

$footer-font-color: lighten($secondary-color, 10%);
$footer-bg-color: $primary-color;
$footer-copyright-font-color: $footer-font-color;
$footer-copyright-bg-color: $primary-color;

