{{ define "main" }}
<div class="home container">
    <h1>
        <span id="home-title"></span>
    </h1>
    <p>
        <span id="home-intro"></span>
    </p>
    <p>
        <a class="typed-skip" href="#"><i class="fas fa-stopwatch"></i> Finish typing</a>
    </p>
    <noscript>
        # Hello Human
        I'm Sean. I like to arrange bits of text on screens. Sometimes if I hit the right keys something nifty comes out. Sometimes people call me a front end developer.
    </noscript>
    <div class="typed-await">
        <h1 class="typed-finish" data-id="home-title"></h1>
        <p class="typed-finish" data-id="home-intro"></p>
        <p>
            This is my personal website, blog, and web development fun place. Rants, musings, software speak, how-to's, sentimental journeys, developer-ese, and more - it's all here. The idea is that some of it will be useful. There will also be superfluous and anomalous feature implementations. Browse at your own risk.
        </p>
        <a class="lucky waves-effect waves-light btn-large">I'm Feeling Lucky</a>
    </div>
</div>
{{ end }}
