<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}" class="no-js">

  {%- include head.html -%}

  <body>
    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      {{ content }}
    </main>

    {%- include footer.html -%}
    {%- include loading.html -%}

    <script>
      var allPosts = [{% for post in site.posts %}"{{ post.url }}"{% unless forloop.last %},{% endunless %}{% endfor %}];
    </script>
    <script src="{{'/assets/js/libs.js' | prepend: site.baseurl }}"></script>
    <script src="{{'/assets/js/app.es5.js' | prepend: site.baseurl}}"></script>

  </body>

</html>
