---
layout: default
---

<div class="blog">

  {{ content }}
  {% if page.tag %}
    {% assign posts = site.tags[page.tag] %}
    <h1>Posts Tagged &ldquo;{{ page.tag | replace: '-', ' ' }}&rdquo;</h1>
  {% else %}
    {% assign posts = paginator.posts %}
  {% endif %}

  {%- if site.posts.size > 0 -%}
  <div class="post-listing">
    <h2 class="post-list-heading">
      {%- if site.blog_posts_title -%}{{ page.list_title | default: "Posts" }}{%- endif -%}
    </h2>
    <div class="row{% if site.post_columns %} fill-height{% endif %}">
      {%- for post in posts -%}
      <div class="post col s12{% if site.post_columns %} m6{% endif %}">
        <div class="{%- if site.post_cards -%}card{%- endif -%}">
          {%- if site.post_images -%}
            <div class="card-image">
              <img src="images/sample-1.jpg">
            </div>
          {%- endif -%}
          <div class="{%- if site.post_cards -%}card-content{%- endif -%}">
            {%- if site.post_cards -%}
            <a title="read more..." class="btn-floating halfway-fab waves-effect waves-light hoverable" href="{{ post.url | relative_url }}"><i class="fas fa-glasses"><span class="sr-only">Read More...</span></i></a>
            {%- endif -%}
            <div class="card--top">
              <h3 class="card-title">
                <a class="post-link" href="{{ post.url | relative_url }}">
                  {{ post.title | escape }}
                </a>
              </h3>
              {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
              <span class="post-meta grey-text">
                <time datetime="{{ post.date }}">{{ post.date | date: date_format }}</time>
              </span>
            </div>
            {%- if site.show_excerpts -%}
            <div class="card--bottom">
              <p class="{%- if site.truncate_excerpts -%}truncate{%- endif -%}">{{ post.excerpt | remove: '<p>' | remove: '</p>' }}</p>
            </div>
            {%- endif -%}
          </div>
        </div>
      </div>
      {%- if site.post_columns -%}
        {%- assign the_index_even = forloop.index | modulo: 2 -%}
        {%- if the_index_even == 0 -%}
    </div>
    <div class="row fill-height">
        {%- endif -%}
      {%- endif -%}
      {%- endfor -%}
    </div>

  </div>

  {%- endif -%}

  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
      {% if paginator.page == 2 %}
        <a href="{{ site.siteurl }}/log/">&laquo; Prev</a>
      {% else %}
        <a class="previous" href="{{ site.siteurl }}/log/page{{ paginator.previous_page }}/">&laquo; Prev</a>
      {% endif %}    
    {% else %}
      <span>&laquo; Prev</span>
    {% endif %}

    {% if paginator.next_page %}
      <a class='next' href="{{ site.siteurl }}/log/page{{ paginator.next_page }}/">Next &raquo;</a>
    {% else %}
      <span class='next'>Next &raquo;</span>
    {% endif %}

  </div>
  {% endif %}

</div>
