---
layout: page
title: Blog
permalink: /blog/
---

<div class="home">

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
          <div class="card">
            <div class="card-content">
              <h3 class="post-title">
                {{ post.title }}
              </h3>
              <p>{{ post.excerpt | strip_html | truncatewords: 36 }}</p>
              <p><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">Read More</a></p>
            </div>
            <div class="card-action post-meta">
              {% include reading-time.html %}
              {% include publish-date.html %}
              {% if post.author %}
                {% include post-author.html %}
              {% endif %}
            </div>
          </div>
      </li>
    {% endfor %}
  </ul>
</div>
